@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-areas: "c" "m" "cc" "r";
}
header {
    background-color: rgb(120, 66, 170);
    grid-area: c;

    display: grid;
    grid-template-areas: "l s"
                          "p p"; 
    grid-template-columns: 67% 33%;     
    grid-template-rows: 80% 20%;              
    align-items: center;  
    
    
}          
header > img{
    grid-area: l;
    padding: 0px 0px 5px 30px;
   
}
header > h1{
    grid-area: s;
   padding: 0px 30px 5px 0px;
   
}
header > p{
    grid-area: p;
    text-align: center;
    padding: 1px 0px 5px 0px;
    
}
nav {
    background-color: rgb(56, 98, 161);
    grid-area: m;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 10px 10px 10px 10px;
    flex:auto
}
li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
li a:hover{
    background-color: black;
    padding: 5px;
}
section {
    background-color: rgb(58, 119, 30);
    grid-area: cc;

    display: grid;
    grid-template-areas: "cp" "cs" "cx";
}
article.cp {
    grid-area: cp;
    background-color: rgb(26, 24, 143);  
}
article.cs {
    grid-area: cs;
    background-color: rgb(58, 119, 30);
}
article.cx {
    grid-area: cx;
    background-color: rgb(10, 104, 192);
}
article h2, h3 {
    padding: 30px 0px 15px 15px;
}
article p {
    padding: 5px 15px 15px 15px;
    text-align: justify;
    line-height: 1.5;
}
article img {
    width: 100%;
}
footer{
    background-color: rgb(57, 160, 134);
    grid-area: r;
    text-align: center;
    padding: 10px;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover{
    background-color: black;
    padding: 5px;
}